<!-- /Search Critiria -->
<div class="card">
    <div class="card-header bg-gradient-info">
        <h3 class="card-title"><b>Edit User Profile</b></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <div class="row">
            <!-- Left -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" class="form-control" placeholder="Company">
                </div>
            </div>

            <!-- Right -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Telephone</label>
                    <input type="text" class="form-control" placeholder="Telephone">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1">Status Active</label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Expired</label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">System Admin</label>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-lg bg-gradient-success" data-bind="click: ClickSearch"><i class="fas fa-search"></i> Search</button>
    </div>
</div>
<!-- /Search Critiria -->
<!-- User List -->
<div class="card">
    <div class="card-header ">
        <h3 class="card-title"><b>User Data List</b></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="bg-gray-light">
                <tr class="text-center">
                    <th style="width: 10px">No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Tel.</th>
                    <th style="width: 80px">Remaining</th>
                    <th style="width: 10px">Status</th>
                    <th style="width: 10px">Admin</th>
                    <th style="width: 40px">Edit</th>
                    <th style="width: 40px">Delete</th>
                    <th style="width: 40px">Renew</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>Tanasit Jarutnuntipat</td>
                    <td>tanasti@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0899272208</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center"><span class="badge badge-warning">Admin</span></td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>Test1 Test1</td>
                    <td>test1@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td>Test2 Test2</td>
                    <td>test2@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">10</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td>Test3 Test3</td>
                    <td>test3@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center"><span class="badge badge-danger">Expire</span></td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">5</td>
                    <td>Test4 Test4</td>
                    <td>test4@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">6</td>
                    <td>Test5 Test5</td>
                    <td>test5@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">7</td>
                    <td>Test6 Test6</td>
                    <td>test6@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">8</td>
                    <td>Test7 Test7</td>
                    <td>test7@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">9</td>
                    <td>Test8 Test8</td>
                    <td>test8@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">10</td>
                    <td>Test9 Test9</td>
                    <td>test9@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-danger">Inactive</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">11</td>
                    <td>Test10 Test10</td>
                    <td>test10@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td>Test11 Test11</td>
                    <td>test11@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">13</td>
                    <td>Test12 Test12</td>
                    <td>test12@mfec.co.th</td>
                    <td>MFEC</td>
                    <td>0898888888</td>
                    <td class="text-center">365</td>
                    <td class="text-center"><span class="badge badge-danger">Inactive</span></td>
                    <td>&nbsp;</td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-primary" data-bind="click: $root.ClickEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-danger" data-bind="click: $root.ClickDelete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm bg-gradient-success" data-bind="click: $root.ClickRenew">
                            <i class="far fa-calendar-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- /User List -->
@section scripts{
    <script src="~/Scripts/Pages/Admin.UserList.js"></script>
}
