
.vs/Scorelink SaaS/config/applicationhost.config
.vs/Scorelink SaaS/v16/.suo
Scorelink.BO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scorelink.BO/obj/Debug/Scorelink.BO.csprojAssemblyReference.cache
Scorelink.BO/obj/project.assets.json
Scorelink.BO/obj/project.nuget.cache
Scorelink.BO/obj/Scorelink.BO.csproj.nuget.dgspec.json
Scorelink.MO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scorelink.MO/obj/Debug/Scorelink.MO.csprojAssemblyReference.cache
Scorelink.MO/obj/project.assets.json
Scorelink.MO/obj/project.nuget.cache
Scorelink.MO/obj/Scorelink.MO.csproj.nuget.dgspec.json
Scorelink.web/bin/Scorelink.web.dll
Scorelink.web/bin/Scorelink.web.pdb
Scorelink.web/obj/Debug/Scorelink.web.csproj.CoreCompileInputs.cache
Scorelink.web/obj/Debug/Scorelink.web.csprojAssemblyReference.cache
Scorelink.web/obj/Debug/Scorelink.web.dll
Scorelink.web/obj/Debug/Scorelink.web.pdb
.vs/Scorelink SaaS/v16/.suo
Scorelink.BO/bin/Debug/EntityFramework.dll
Scorelink.BO/bin/Debug/EntityFramework.SqlServer.dll
Scorelink.BO/bin/Debug/Scorelink.BO.dll
Scorelink.BO/bin/Debug/Scorelink.BO.pdb
Scorelink.BO/bin/Debug/Scorelink.MO.dll
Scorelink.BO/bin/Debug/Scorelink.MO.dll.config
Scorelink.BO/bin/Debug/Scorelink.MO.pdb
Scorelink.BO/obj/Debug/build.force
Scorelink.BO/obj/Debug/Scorelink.BO.csproj.CopyComplete
Scorelink.BO/obj/Debug/Scorelink.BO.csproj.FileListAbsolute.txt
Scorelink.BO/obj/Debug/Scorelink.BO.csprojAssemblyReference.cache
Scorelink.BO/obj/Debug/Scorelink.BO.dll
Scorelink.BO/obj/Debug/Scorelink.BO.pdb
Scorelink.web/bin/Scorelink.web.dll
Scorelink.web/bin/Scorelink.web.pdb
Scorelink.web/obj/Debug/Scorelink.web.csprojAssemblyReference.cache
Scorelink.web/obj/Debug/Scorelink.web.dll
Scorelink.web/obj/Debug/Scorelink.web.pdb
.vs/Scorelink SaaS/v16/.suo
Scorelink.BO/obj/Debug/build.force
Scorelink.BO/obj/Debug/Scorelink.BO.csproj.FileListAbsolute.txt
Scorelink.BO/obj/Debug/Scorelink.BO.csprojAssemblyReference.cache
Scorelink.web/bin/Scorelink.web.dll
Scorelink.web/bin/Scorelink.web.pdb
Scorelink.web/obj/Debug/Scorelink.web.csprojAssemblyReference.cache
Scorelink.web/obj/Debug/Scorelink.web.dll
Scorelink.web/obj/Debug/Scorelink.web.pdb
.vs/Scorelink SaaS/v16/.suo
Scorelink.BO/obj/Debug/Scorelink.BO.csproj.CoreCompileInputs.cache
Scorelink.BO/obj/Debug/Scorelink.BO.csproj.FileListAbsolute.txt
Scorelink.BO/obj/Debug/Scorelink.BO.csprojAssemblyReference.cache
Scorelink.BO/obj/project.nuget.cache
Scorelink.MO/bin/Debug/Scorelink.MO.dll
Scorelink.MO/bin/Debug/Scorelink.MO.pdb
Scorelink.MO/obj/Debug/edmxResourcesToEmbed/ScorelinkModel.csdl
Scorelink.MO/obj/Debug/edmxResourcesToEmbed/ScorelinkModel.msl
Scorelink.MO/obj/Debug/edmxResourcesToEmbed/ScorelinkModel.ssdl
Scorelink.MO/obj/Debug/Scorelink.MO.csproj.CoreCompileInputs.cache
Scorelink.MO/obj/Debug/Scorelink.MO.csproj.FileListAbsolute.txt
Scorelink.MO/obj/Debug/Scorelink.MO.csprojAssemblyReference.cache
Scorelink.MO/obj/Debug/Scorelink.MO.dll
Scorelink.MO/obj/Debug/Scorelink.MO.pdb
Scorelink.MO/obj/project.nuget.cache
Scorelink.web/bin/roslyn/csc.exe
Scorelink.web/bin/roslyn/csc.exe.config
Scorelink.web/bin/roslyn/csc.rsp
Scorelink.web/bin/roslyn/csi.exe
Scorelink.web/bin/roslyn/csi.exe.config
Scorelink.web/bin/roslyn/csi.rsp
Scorelink.web/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Scorelink.web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Scorelink.web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Scorelink.web/bin/roslyn/Microsoft.CodeAnalysis.dll
Scorelink.web/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Scorelink.web/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Scorelink.web/bin/roslyn/Microsoft.CSharp.Core.targets
Scorelink.web/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Scorelink.web/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Scorelink.web/bin/roslyn/Microsoft.Managed.Core.targets
Scorelink.web/bin/roslyn/Microsoft.VisualBasic.Core.targets
Scorelink.web/bin/roslyn/Microsoft.Win32.Primitives.dll
Scorelink.web/bin/roslyn/System.AppContext.dll
Scorelink.web/bin/roslyn/System.Collections.Immutable.dll
Scorelink.web/bin/roslyn/System.Console.dll
Scorelink.web/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
Scorelink.web/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Scorelink.web/bin/roslyn/System.Diagnostics.StackTrace.dll
Scorelink.web/bin/roslyn/System.Globalization.Calendars.dll
Scorelink.web/bin/roslyn/System.IO.Compression.ZipFile.dll
Scorelink.web/bin/roslyn/System.IO.FileSystem.dll
Scorelink.web/bin/roslyn/System.IO.FileSystem.Primitives.dll
Scorelink.web/bin/roslyn/System.Net.Http.dll
Scorelink.web/bin/roslyn/System.Net.Sockets.dll
Scorelink.web/bin/roslyn/System.Reflection.Metadata.dll
Scorelink.web/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
Scorelink.web/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Scorelink.web/bin/roslyn/System.Security.Cryptography.Encoding.dll
Scorelink.web/bin/roslyn/System.Security.Cryptography.Primitives.dll
Scorelink.web/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Scorelink.web/bin/roslyn/System.Text.Encoding.CodePages.dll
Scorelink.web/bin/roslyn/System.Threading.Tasks.Extensions.dll
Scorelink.web/bin/roslyn/System.ValueTuple.dll
Scorelink.web/bin/roslyn/System.Xml.ReaderWriter.dll
Scorelink.web/bin/roslyn/System.Xml.XmlDocument.dll
Scorelink.web/bin/roslyn/System.Xml.XPath.dll
Scorelink.web/bin/roslyn/System.Xml.XPath.XDocument.dll
Scorelink.web/bin/roslyn/vbc.exe
Scorelink.web/bin/roslyn/vbc.exe.config
Scorelink.web/bin/roslyn/vbc.rsp
Scorelink.web/bin/roslyn/VBCSCompiler.exe
Scorelink.web/bin/roslyn/VBCSCompiler.exe.config
Scorelink.web/bin/Scorelink.web.dll
Scorelink.web/bin/Scorelink.web.dll.config
Scorelink.web/bin/Scorelink.web.pdb
Scorelink.web/obj/Debug/Scorelink.web.csproj.CopyComplete
Scorelink.web/obj/Debug/Scorelink.web.csproj.CoreCompileInputs.cache
Scorelink.web/obj/Debug/Scorelink.web.csproj.FileListAbsolute.txt
Scorelink.web/obj/Debug/Scorelink.web.csprojAssemblyReference.cache
Scorelink.web/obj/Debug/Scorelink.web.dll
Scorelink.web/obj/Debug/Scorelink.web.pdb
Scorelink.web/obj/Debug/Tsc.out
.vs/Scorelink SaaS/v16/.suo
