<!-- Modal -->
<div class="modal fade" id="confirmDeletedModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-red">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="confirmModalLabel">Deleted</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete this record?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bind="click: SubmitDeleteData">Delete</button>
            </div>
        </div>
    </div>
</div>