
@{
    ViewBag.Title = "Index";
}

<style>
    /* Only resize the element if PDF is embedded */
    .pdfobject-container {
        width: 800px;
        height: 1000px;
    }
</style>
<div class="container-fluid">
    <!-- ROW 1 -->
    <div class="row">
        <!-- COL 1 -->
        <div class="col-auto connectedSortable">
            <div class="card">
                <!-- HEAD -->
                <div class="card-header bg-gradient-primary">
                    <h3 class="card-title"><b><i class="far fa-object-ungroup"></i> Select Areas</b></h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="image-decorator">
                            <div id="my-container"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /COL 1 -->
        <!-- COL 2 -->
        <div class="col-auto connectedSortable">
            <div class="card">
                <div class="card-header bg-gradient-primary">
                    <h3 class="card-title"><b><i class="far fa-edit"></i> Pattern</b></h3>
                </div>
                <div class="card-body">
                    <input type="text" id="txtPage" />
                    <hr>
                    <button type="button" class="btn bg-gradient-success" id="btnSubmit" value="Submit">Delete</button>
                    <button type="button" class="btn bg-gradient-danger">Back</button>
                </div>
            </div>
        </div>
        <!-- /COL 2 -->
    </div>
    <!-- /ROW 1 -->
</div>


@section scripts{
    <script src="~/plugins/PDFObject-master/pdfobject.min.js"></script>
    <script>
        var options = {
            width: "600px",
            height: "500px",
            page: '1',
            pdfOpenParams: {
                view: 'FitV',
                pagemode: 'thumbs'
            }
        };


        PDFObject.embed("../FileUploads/00000001/3a5a231c-1dbf-4a38-9efa-a983607ba97a.pdf", "#my-container");

        var ViewModel = function () {

            $(document).ready(function () {

                $('#btnSubmit').click(function () {
                    var filter = {
                        'page': $("#txtPage").val()
                    }

                    $.ajax({
                        url: '/Test/DeletePageInfo',
                        cache: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: ko.toJSON(filter),
                        success: function (data) {
                            PDFObject.embed("../FileUploads/00000001/3a5a231c-1dbf-4a38-9efa-a983607ba97a.pdf", "#my-container");
                        }
                    });
                });

            });
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
}

