
@{
    ViewBag.Title = "Select Pattern";
}

<section class="content">

    <div class="container-fluid">
        <!-- ROW 1 -->
        <div class="row">
            <div class="col-auto connectedSortable">
                <div class="card" style="width:970px">
                    <!-- HEAD -->
                    <div class="card-header bg-gradient-primary">
                        <h3 class="card-title"><b><i class="far fa-object-ungroup"></i> Select Pattern For Scan</b></h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="image-decorator text-center">
                                <table id="tab1" class="table table-bordered">
                                    <thead class="bg-gray-light">
                                        <tr class="text-center">
                                            <th><input type="radio" name="pattern" value="1" checked /></th>
                                            <th><input type="radio" name="pattern" value="2" /></th>
                                            <th><input type="radio" name="pattern" value="3" /></th>
                                            <th><input type="radio" name="pattern" value="4" /></th>
                                            <th><input type="radio" name="pattern" value="5" /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center">
                                            <td>
                                                <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern1n.png" />
                                            </td>
                                            <td>
                                                <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern2n.png" />
                                            </td>
                                            <td>
                                                <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern3n.png" />
                                            </td>
                                            <td>
                                                <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern4n.png" />
                                            </td>
                                            <td>
                                                <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern5n.png" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" class="btn bg-gradient-success" id="btnSubmit" value="Submit">Begin Scan</button>
                                <button type="button" class="btn bg-gradient-danger">Back</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /ROW 1 -->
        <!-- ROW 2 -->
        <div class="row">
            <!-- COL 1 -->
            <div class="col-auto connectedSortable">
                <div class="card" style="width: 700px">
                    <!-- HEAD -->
                    <div class="card-header bg-gradient-primary">
                        <h3 class="card-title"><i class="far fa-object-ungroup"></i> Page Preview</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="image-decorator">
                                @*<img alt="" id="view" src="" />*@

                                <table id="tab1" class="table table-bordered">
                                    <thead class="bg-gray-light">
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="~/FileUploads/00000001/6b435405-434f-4479-bd29-24a9a88138bd/0001.jpg" width="600" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /COL 1 -->
            <!-- COL 2 -->
            <div class="col-auto connectedSortable">
                <div class="card" style="width:250px">
                    <div class="card-header bg-gradient-primary">
                        <h3 class="card-title"><i class="far fa-edit"></i> Scan Setting</h3>
                    </div>
                    <div class="card-body">
                        <div><code>Uncheck the checkbox to avoid that nonexistent type of data.</code></div>

                        <label>Account Title/Item</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Alphabet</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Number</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Symbol</label>
                        </div>
                        <hr>

                        <label>Footnote No.</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Alphabet</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Number</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Symbol</label>
                        </div>
                        <div><code>Examples of Symbol : (),.+-</code></div>
                        <hr>

                        <label>Amount Settings</label>
                        <div><code>Specify the precision of currency data.</code></div>
                        <hr>

                        <label>Number of decimals</label>
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                        <hr>

                        <label>Noise reduction settings</label>
                        <div><code>Remove spots from statement images.</code></div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label">Auto</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label">Small</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label">Medium</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label">Large</label>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
            <!-- /COL 2 -->
        </div>
        <!-- /ROW 2 -->
    </div>
</section>

@section scripts{

}

